<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>First Line Stats</title>
    <!-- Bootstrap core CSS -->
    <link rel='shortcut icon' type='image/x-icon' href="/static/images/favicon.png" />
    <!--{% block page_css %}-->
    <link href="/static/DataTables/datatables.min.css" rel="stylesheet">
    <link href="/static/MultiSelect/css/multi-select.css" rel="stylesheet">
    <!--{% endblock %}-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fls.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" href="#">
                    <a href="/"><img class="fls-logo" src="/static/images/logo_text.png"></a>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/" style="font-size:25px;">First Line Stats</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Players <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/players/skaters">Skaters</a></li>
                            <li><a href="/players/goalies">Goalies</a></li>
                        </ul>
                    </li>
                    <li><a href="/teams">Teams</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--{% block content %}-->

    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
            <img id="away-team-logo">
        </div>
        <div class="col-md-4 text-center">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="away-team" id="away-team-name"></h3>
                    <h4>at</h4>
                    <h3 class="home-team" id="home-team-name"></h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h3><span id="away-score"></span> - <span id="home-score"></span></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img id="home-team-logo">
        </div>
</div>
<div class="row">
    <div class="col-md-6 text-left">
        <p><strong><span id="game-time"></span></strong></p>
    </div>
    <div class="col-md-6 text-right">
        <p><strong><div id="game-status"></div> <div id="game-ot"></div></strong></p>
    </div>
</div>
</div>
<div class="container game-content">
<div class="row">
    <div class="col-sm-12">
        <div class="well bs-component">
            <h4 class="filter-options" data-toggle="collapse" data-target="#gameFilter">
            Filter Options
            <img class="filter-collapsed" height="20" width="20" style="float: right"src="/static/images/forward-arrow.svg ">
            </h4>
            <div class="row">
                <div class="col-md-12">
                    <form id="gameFilter" class="collapse" action="/api/pbp/game/" method="GET">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="teamStrengths">Team Strengths:</label>
                                <select class="form-control input-sm" id="teamStrengths" name="teamStrengths">
                                    <option value="all">All</option>
                                    <option value="even">Even Strength 5v5</option>
                                    <option value="pp">Power Play</option>
                                    <option value="pk">Short Handed</option>
                                    <option value="4v4">4v4</option>
                                    <option value="og">Opposing Goalie Pulled</option>
                                    <option value="tg">Team Goalie Pulled</option>
                                    <option value="3v3">3v3</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="scoreSituation">Score Situation:</label>
                                <select class="form-control input-sm" id="scoreSituation" name="scoreSituation">
                                    <option value="all">All</option>
                                    <option value="t3+">Trailing by 3+</option>
                                    <option value="t2">Trailing by 2</option>
                                    <option value="t1">Trailing by 1</option>
                                    <option value="t">Tied</option>
                                    <option value="l1">Leading by 1</option>
                                    <option value="l2">Leading by 2</option>
                                    <option value="l3+">Leading by 3+</option>
                                    <option value="w1">Within 1</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="periodOption">Period:</label>
                                <select class="form-control input-sm" id="periodOption" name="periodOption">
                                    <option value="all">All</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">OT</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-8">
                                <div class="form-group text-right" style="margin-top:25%;">
                                    <input type="reset" class="btn btn-danger btn-sm"></input>
                                    <input type="submit" href="#" class="btn btn-primary btn-sm"></input>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
    <div id="gameStatsContent" class="col-md-12 table-responsive">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tableView" data-toggle="tab" aria-expanded="true">Table View</a></li>
            <li class=""><a href="#graphView" data-toggle="tab" aria-expanded="false">Graph View</a></li>
        </ul>
        <div id="gameTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="tableView">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Team Statistics</h3>
                        <table id="team" class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th title="Team">Team</th>
                                    <th title="On-Ice Goals For Total">GF</th>
                                    <th title="On-Ice Shots-On-Goal For Total">SF</th>
                                    <th title="Missed Shots For">MSF</th>
                                    <th title="Blocked Shots">BSF</th>
                                    <th title="Corsi For Total">CF</th>
                                    <th title="On-Ice Scoring Chances For Total">SCF</th>
                                    <th title="On-Ice High-Danger Scoring Chances For Total">HSCF</th>
                                    <th title="Offensive Zone Starts">ZSO</th>
                                    <th title="Hits">HIT</th>
                                    <th title="Penalties">PN</th>
                                    <th title="Faceoffs Won">FO_W</th>
                                    <th title="Time On Ice">TOI</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Goalie Statistics</h3>
                        <table id="goalies" class="table table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th title="Name">Name</th>
                                    <th title="Team">Team</th>
                                    <th title="Unknown-Danger Goals">GU</th>
                                    <th title="Unknown-Danger Saves">SU</th>
                                    <th title="Low-Danger Goals">G.L</th>
                                    <th title="Low-Danger Saves">S.L</th>
                                    <th title="Medium-Danger Goals">G.M</th>
                                    <th title="Medium-Danger Saves">S.M</th>
                                    <th title="High-Danger Goals">G.H</th>
                                    <th title="High-Danger Saves">S.H</th>
                                    <th title="Time On Ice (Minutes)">TOI</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <h3><img height="45" id="away-players-logo" />Away Players</h3>
                        <table id="awayPlayers" class="table table-striped table-hover table-condensed" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="base" title="Name">Name</th>
                                    <th class="base" title="Position">Pos</th>
                                    <th class="base" title="Goals Scored">G</th>
                                    <th class="base" title="First Assists">A1</th>
                                    <th class="base" title="Second Assists">A2</th>
                                    <th class="base" title="Total Points">P</th>
                                    <th class="prime" title="Individual High-Danger Scoring Chances">iHSC</th>
                                    <th class="prime" title="Individual Scoring Chances">iSC</th>
                                    <th class="prime" title="Individual Shot Attempts">iCF</th>
                                    <th class="prime" title="On-Ice Corsi Differential">C+/-</th>
                                    <th class="prime" title="On-Ice Fenwick Differential">F+/-</th>
                                    <th class="prime" title="On-Ice Goal Differential">G+/-</th>
                                    <th class="prime" title="Corsi For Total">CF</th>
                                    <th class="prime" title="Fenwick For Total">FF</th>
                                    <th class="prime" title="Offensive Zone Stats">ZSO</th>
                                    <th class="prime" title="Defensive Zone Starts">ZSD</th>
                                    <th class="prime" title="Shots Attempts Blocked By Play">AB</th>
                                    <th class="prime" title="Faceoffs Won">FO_W</th>
                                    <th class="prime" title="Faceoffs Lost">FO_L</th>
                                    <th class="prime" title="Hits">HIT+</th>
                                    <th class="prime" title="Hits Taken">HIT-</th>
                                    <th class="prime" title="Penalties">PN+</th>
                                    <th class="prime" title="Penalties Drawn">PN-</th>
                                    <th class="prime" title="Time On Ice">TOI</th>
                                    <th class="rates" title="Corsi For, Per 60 Minutes">CF60</th>
                                    <th class="rates" title="Corsi Against, Per 60 Minutes">CA60</th>
                                    <th class="rates" title="Corsi For and Against, Per 60 Minutes">CP60</th>
                                    <th class="rates" title="Fenwick For, Per 60 Minutes">FF60</th>
                                    <th class="rates" title="Fenwick Against, Per 60 Minutes">FA60</th>
                                    <th class="rates" title="Fenwick For and Against, Per 60 Minutes">FP60</th>
                                    <th class="rates" title="Shots For, Per 60 Minutes">SF60</th>
                                    <th class="rates" title="Shots Against, Per 60 Minutes">SA60</th>
                                    <th class="rates" title="Shots For and Against, Per 60 Minutes">FP60</th>
                                    <th class="counts" title="Shot Attempts By Player, Blocked">BK</th>
                                    <th class="counts" title="Shot Attempts Blocked By Player">AB</th>
                                    <th class="counts" title="Missed Shots">MS</th>
                                    <th class="counts" title="Saved Shots">SH</th>
                                    <th class="counts" title="On-Ice Shots For Total">SF</th>
                                    <th class="counts" title="On-Ice Shots Against Total">SA</th>
                                    <th class="counts" title="On-Ice Goals For Total">GF</th>
                                    <th class="counts" title="On-Ice Goals Against Total">GA</th>
                                    <th class="counts" title="Fenwick For Total">FF</th>
                                    <th class="counts" title="Fenwick Against Total">FA</th>
                                    <th class="counts" title="Corsi For Total">CF</th>
                                    <th class="counts" title="Corsi Against Total">CA</th>
                                    <th class="counts" title="On-Ice Scoring Chances For Total">SCF</th>
                                    <th class="counts" title="On-Ice Scoring Chances Against Total">SCA</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <h3><img height="45" id="home-players-logo" />Home Players</h3>
                        <table id="homePlayers" class="table table-striped table-hover table-condensed" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="base" title="Name">Name</th>
                                    <th class="base" title="Position">Pos</th>
                                    <th class="base" title="Goals Scored">G</th>
                                    <th class="base" title="First Assists">A1</th>
                                    <th class="base" title="Second Assists">A2</th>
                                    <th class="base" title="Total Points">P</th>
                                    <th class="prime" title="Individual High-Danger Scoring Chances">iHSC</th>
                                    <th class="prime" title="Individual Scoring Chances">iSC</th>
                                    <th class="prime" title="Individual Shot Attempts">iCF</th>
                                    <th class="prime" title="On-Ice Corsi Differential">C+/-</th>
                                    <th class="prime" title="On-Ice Fenwick Differential">F+/-</th>
                                    <th class="prime" title="On-Ice Goal Differential">G+/-</th>
                                    <th class="prime" title="Corsi For Total">CF</th>
                                    <th class="prime" title="Fenwick For Total">FF</th>
                                    <th class="prime" title="Offensive Zone Stats">ZSO</th>
                                    <th class="prime" title="Defensive Zone Starts">ZSD</th>
                                    <th class="prime" title="Shots Attempts Blocked By Play">AB</th>
                                    <th class="prime" title="Faceoffs Won">FO_W</th>
                                    <th class="prime" title="Faceoffs Lost">FO_L</th>
                                    <th class="prime" title="Hits">HIT+</th>
                                    <th class="prime" title="Hits Taken">HIT-</th>
                                    <th class="prime" title="Penalties">PN+</th>
                                    <th class="prime" title="Penalties Drawn">PN-</th>
                                    <th class="prime" title="Time On Ice">TOI</th>
                                    <th class="rates" title="Corsi For, Per 60 Minutes">CF60</th>
                                    <th class="rates" title="Corsi Against, Per 60 Minutes">CA60</th>
                                    <th class="rates" title="Corsi For and Against, Per 60 Minutes">CP60</th>
                                    <th class="rates" title="Fenwick For, Per 60 Minutes">FF60</th>
                                    <th class="rates" title="Fenwick Against, Per 60 Minutes">FA60</th>
                                    <th class="rates" title="Fenwick For and Against, Per 60 Minutes">FP60</th>
                                    <th class="rates" title="Shots For, Per 60 Minutes">SF60</th>
                                    <th class="rates" title="Shots Against, Per 60 Minutes">SA60</th>
                                    <th class="rates" title="Shots For and Against, Per 60 Minutes">FP60</th>
                                    <th class="counts" title="Shot Attempts By Player, Blocked">BK</th>
                                    <th class="counts" title="Shot Attempts Blocked By Player">AB</th>
                                    <th class="counts" title="Missed Shots">MS</th>
                                    <th class="counts" title="Saved Shots">SH</th>
                                    <th class="counts" title="On-Ice Shots For Total">SF</th>
                                    <th class="counts" title="On-Ice Shots Against Total">SA</th>
                                    <th class="counts" title="On-Ice Goals For Total">GF</th>
                                    <th class="counts" title="On-Ice Goals Against Total">GA</th>
                                    <th class="counts" title="Fenwick For Total">FF</th>
                                    <th class="counts" title="Fenwick Against Total">FA</th>
                                    <th class="counts" title="Corsi For Total">CF</th>
                                    <th class="counts" title="Corsi Against Total">CA</th>
                                    <th class="counts" title="On-Ice Scoring Chances For Total">SCF</th>
                                    <th class="counts" title="On-Ice Scoring Chances Against Total">SCA</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="graphView">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center">Shots Attempts</h3>
                                <div id="shotChart"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="saChart"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="scChart"></div>
                            </div>
                        </div>
                        <div class="row">
                            <h3 class="text-center">Player Corsi Events</h3>
                            <p class="text-center">*Click points to toggle information</p>
                            <div class="col-md-6 col-sm-12">
                                <div id="away-corsi"></div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div id="home-corsi"></div>
                            </div>
                        </div>
                        <div class="row">
                            <h3 class="text-center">Head-To-Head Matchups</h3>
                            <div class="col-md-12">
                                Order: <select id="order">
                                  <option value="name">by Name</option>
                                  <option value="count">by TOI</option>
                                  <option value="group">by Team</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <div id="co"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    <!--{% endblock %}-->
    <script src="/static/js/jquery-2.2.0.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!--{% block page_js %}-->
    <script src="/static/DataTables/datatables.min.js"></script>
    <script src="/static/MultiSelect/js/jquery.multi-select.js"></script>
    <script src="/static/d3/d3.min.js"></script>
    <script src="/static/js/teamColors.js"></script>
    <script src="/static/js/graphs/shotChart.js"></script>
    <script src="/static/js/graphs/eventChart.js"></script>
    <script src="/static/js/graphs/corsiEventChart.js"></script>
    <script src="/static/js/graphs/headToHeadChart.js"></script>
    <script src="/static/js/getUrl.js"></script>
    <script>
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        $('#gameFilter').submit(function(e) {

            var formurl = url + "pbp/game/?gamePk=" + getUrlParameter("gamePk") + "&" + $("#gameFilter").serialize();

            $.ajax({
                url: formurl,
                success: function(data) {
                    var details = data.details;
                    var imgsrc = "/static/images/team/";
                    $("#home-score").text(details.homeScore);
                    $("#away-score").text(details.awayScore);
                    $("#game-time").text(details.date);
                    var team = $("#team").DataTable();
                    team.clear();
                    team.rows.add(data.teamData);
                    team.draw();
                    var home = $("#homePlayers").DataTable();
                    home.clear();
                    home.rows.add(data.homeSkaters);
                    home.draw();
                    var away = $("#awayPlayers").DataTable();
                    away.clear();
                    away.rows.add(data.awaySkaters);
                    away.draw();
                    var goalies = $("#goalies").DataTable();
                    goalies.clear();
                    goalies.rows.add(data.goalies);
                    goalies.draw();
                    $("#shotChart").html("");
                    shotChart(data.shotData, details.homeTeamAbbr, details.awayTeamAbbr);
                    $("#saChart").html("");
                    $("#scChart").html("");
                    $("#home-corsi").html("");
                    $("#away-corsi").html("");
                    $("#co").html("");
                    create_shot_attempts(data.eventcount, "#saChart", "sa", data.details.homeTeamName, data.details.awayTeamName);
                    create_shot_attempts(data.eventcount, "#scChart", "sc", data.details.homeTeamName, data.details.awayTeamName);
                    create_corsi_events(data.homeSkaters, "#home-corsi", details.homeTeamName);
                    create_corsi_events(data.awaySkaters, "#away-corsi", details.awayTeamName);
                    var pvp = data.pvp;
                    create_co("#co", pvp);
                    
                }
            });




            e.preventDefault();
        });

        var setSkaterTable = function setSkater(table_id, data) {
            $(table_id).DataTable({
                data: data,
                paging: false,
                info: false,
                columns: [
                    {"data": "name",
                     "render": function(data, type, full, meta) {
                        return "<a href=\"/players/skater/?id=" + full.id + "\">" + full.name + "</a>";
                     },
                    },
                    {"data": "position"},
                    {"data": "g"},
                    {"data": "a1"},
                    {"data": "a2"},
                    {"data": "g",
                     "render": function(data, type, full, meta) {
                        return full.g + full.a1 + full.a2;
                     }
                    },
                    {"data": "ihsc"},
                    {"data": "isc"},
                    {"data": "icf"},
                    {"data": "cf",
                     "render": function(data, type, full, meta) {
                        return full.cf - full.ca;
                     },
                    },
                    {"data": "ff",
                     "render": function(data, type, full, meta) {
                        return full.ff - full.fa;
                     },
                    },
                    {"data": "g+-"},
                    {"data": "cf"},
                    {"data": "ff"},
                    {"data": "zso"},
                    {"data": "zsd"},
                    {"data": "ab"},
                    {"data": "fo_w"},
                    {"data": "fo_l"},
                    {"data": "hit+"},
                    {"data": "hit-"},
                    {"data": "pn+"},
                    {"data": "pn-"},
                    {"data": "toi"},
                    {"data": "cf60",
                    },
                    {"data": "ca60",
                    },
                    {"data": "cp60",
                     "render": function(data, type, full, meta) {
                        return (full.cf60 + full.ca60).toFixed(2);
                     },
                    },
                    {"data": "ff60",
                    },
                    {"data": "fa60",
                    },
                    {"data": "fp60",
                     "render": function(data, type, full, meta) {
                        return (full.ff60 + full.fa60).toFixed(2);
                     },
                    },
                    {"data": "sf60",
                    },
                    {"data": "sa60",
                    },
                    {"data": "sp60",
                     "render": function(data, type, full, meta) {
                        return (full.sf60 + full.sa60).toFixed(2);
                     },
                    },
                    {"data": "bk"},
                    {"data": "ab"},
                    {"data": "ms"},
                    {"data": "sh"},
                    {"data": "sf"},
                    {"data": "sa"},
                    {"data": "gf"},
                    {"data": "ga"},
                    {"data": "ff"},
                    {"data": "fa"},
                    {"data": "cf"},
                    {"data": "ca"},
                    {"data": "scf"},
                    {"data": "sca"},
                ]
            });
        }

        var url = getUrl();
        var homeSkaters = $("#homePlayers"),
            awaySkaters = $("#awayPlayers"),
            goalies = $("#goalies"),
            team = $("#team");
        $(document).ready(function(){
            $.ajax({
                url: url + "pbp/game/?gamePk=" + getUrlParameter("gamePk"),
                success: function(data) {
                    var details = data.details;
                    var imgsrc = "/static/images/team/";
                    $("#home-team-name").text(details.homeTeamName);
                    $("#away-team-name").text(details.awayTeamName);
                    $("#home-score").text(details.homeScore);
                    $("#away-score").text(details.awayScore);
                    $("#home-team-logo").attr("src",
                        imgsrc + details.homeTeamAbbr + ".png");
                    $("#away-team-logo").attr("src",
                        imgsrc + details.awayTeamAbbr + ".png");
                    $("#away-players-logo").attr("src",
                        imgsrc + details.awayTeamAbbr + ".png");
                    $("#home-players-logo").attr("src",
                        imgsrc + details.homeTeamAbbr + ".png");
                    $("#game-time").text(details.date);

                    $("#team").DataTable( {
                        data: data.teamData,
                        paging: false,
                        info: false,
                        bFilter: false,
                        columns: [
                            {"data": "teamName",
                             "render": function ( data, type, full, meta ) {
                               return '<img height="17" width="17" src="/static/images/team/' + full.teamAbbr + '.png"><a href="/team/?team=' + full.teamAbbr + '">' + full.teamName + '</a>';}
                            },
                            {"data": "gf"},
                            {"data": "sf"},
                            {"data": "msf"},
                            {"data": "bsf"},
                            {"data": "cf"},
                            {"data": "scf"},
                            {"data": "hscf"},
                            {"data": "zso"},
                            {"data": "hit+"},
                            {"data": "pn"},
                            {"data": "fo_w"},
                            {"data": "toi"},
                        ]
                    });
                    
                    setSkaterTable("#homePlayers", data.homeSkaters);
                    setSkaterTable("#awayPlayers", data.awaySkaters);

                    $("#goalies").DataTable({
                        data: data.goalies,
                        paging: false,
                        info: false,
                        fixedHeader: {
                            header: true,
                        },
                        bFilter: false,
                        columns: [
                            {"data": "name",
                             "render": function(data, type, full, meta) {
                                return "<a href=\"/players/goalie/?id=" + full.id + "\">" + full.name + "</a>";
                             }
                            },
                            {"data": "team",
                             "render": function ( data, type, full, meta ) {
                               return '<img height="17" width="17" src="/static/images/team/' + full.teamAbbr + '.png"><a href="/teams/?team=' + full.teamAbbr + '">' + full.team + '</a>';}
                            },
                            {"data": "gu"},
                            {"data": "su"},
                            {"data": "gl"},
                            {"data": "sl"},
                            {"data": "gm"},
                            {"data": "sm"},
                            {"data": "gh"},
                            {"data": "sh"},
                            {"data": "toi"},
                        ]
                    });

                    shotChart(data.shotData, details.homeTeamAbbr, details.awayTeamAbbr);
                    create_shot_attempts(data.eventcount, "#saChart", "sa", details.homeTeamName, details.awayTeamName);
                    create_shot_attempts(data.eventcount, "#scChart", "sc", details.homeTeamName, details.awayTeamName);
                    create_corsi_events(data.homeSkaters, "#home-corsi", details.homeTeamName);
                    create_corsi_events(data.awaySkaters, "#away-corsi", details.awayTeamName);
                    var pvp = data.pvp;
                    create_co("#co", pvp);
                    
                }
            });

            $('.filter-options img').click(function(e) {
                var icon = $(e.target);
                if (icon.hasClass('filter-collapsed')) {
                    $(e.target).removeClass('filter-collapsed');
                    $(e.target).addClass('filter-expanded');
                } else {
                    $(e.target).removeClass('filter-expanded');
                    $(e.target).addClass('filter-collapsed');
                }
            });

            $("#id_columns").change(function(e) {

            });

        });
    </script>
    <!--{% endblock %}-->
  </body>
</html>
    