<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>First Line Stats</title>
    <!-- Bootstrap core CSS -->
    <link rel='shortcut icon' type='image/x-icon' href="/static/images/favicon.png" />
    <!--{% block page_css %}-->
    <link href="/static/DataTables/datatables.min.css" rel="stylesheet">
    <link href="/static/MultiSelect/css/multi-select.css" rel="stylesheet">
    <!--{% endblock %}-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fls.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" href="#">
                    <a href="/"><img class="fls-logo" src="/static/images/logo_text.png"></a>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Players <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/players/skaters">Skaters</a></li>
                            <li><a href="/players/goalies">Goalies</a></li>
                        </ul>
                    </li>
                    <li><a href="/teams">Teams</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--{% block content %}-->

<div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
            <img id="away-team-logo">
        </div>
        <div class="col-md-4 text-center">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="away-team" id="away-team-name"></h3>
                    <h4>at</h4>
                    <h3 class="home-team" id="home-team-name"></h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h3><span id="home-score"></span> - <span id="away-score"></span></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img id="home-team-logo">
        </div>
</div>
<div class="row">
    <div class="col-md-6 text-left">
        <p><strong><span id="game-time"></span> EST</strong></p>
    </div>
    <div class="col-md-6 text-right">
        <p><strong><div id="game-status"></div> <div id="game-ot"></div></strong></p>
    </div>
</div>
</div>
<div class="container game-content">
<div class="row">
    <div class="col-sm-12">
        <div class="well bs-component">
            <h4 class="filter-options" data-toggle="collapse" data-target="#gamesFilter">
            Filter Options
            <img class="filter-collapsed" height="20" width="20" style="float: right"src="/static/images/forward-arrow.svg ">
            </h4>
            <div class="row">
                <div class="col-md-12">
                    <form id="gamesFilter"  class="collapse" action="/games/" method="post">
                        <div class="row">

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-right">
                                    <input type="reset" class="btn btn-danger btn-sm"></input>
                                    <input type="submit" href="#" class="btn btn-primary btn-sm"></input>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
    <div id='tableLoading' class="col-md-6 col-md-offset-3">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Fetching Data
            </div>
        </div>
    </div>
    <div id="gameStatsContent" class="col-md-12 table-responsive" style="display: none">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tableView" data-toggle="tab" aria-expanded="true">Table View</a></li>
            <li class=""><a href="#graphView" data-toggle="tab" aria-expanded="false">Graph View</a></li>
        </ul>
        <div id="gameTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="tableView">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Team Statistics</h3>
                        <table id="team" class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th title="Team">Team</th>
                                    <th title="On-Ice Goals For Total">GF</th>
                                    <th title="On-Ice Shots-On-Goal For Total">SF</th>
                                    <th title="Missed Shots For">MSF</th>
                                    <th title="Blocked Shots">BSF</th>
                                    <th title="Corsi For Total">CF</th>
                                    <th title="On-Ice Scoring Chances For Total">SCF</th>
                                    <th title="On-Ice High-Danger Scoring Chances For Total">HSCF</th>
                                    <th title="Offensive Zone Starts">ZSO</th>
                                    <th title="Hits">HIT</th>
                                    <th title="Penalties">PN</th>
                                    <th title="Faceoffs Won">FO_W</th>
                                    <th title="Time On Ice">TOI</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Goalie Statistics</h3>
                        <table id="goalies" class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th title="Name">Name</th>
                                    <th title="Team">Team</th>
                                    <th title="Unknown-Danger Goals">GU</th>
                                    <th title="Unknown-Danger Saves">SU</th>
                                    <th title="Low-Danger Goals">G.L</th>
                                    <th title="Low-Danger Saves">S.L</th>
                                    <th title="Medium-Danger Goals">G.M</th>
                                    <th title="Medium-Danger Saves">S.M</th>
                                    <th title="High-Danger Goals">G.H</th>
                                    <th title="High-Danger Saves">S.H</th>
                                    <th title="Time On Ice (Minutes)">TOI</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <h3>Away Players</h3>
                        <table id="awayPlayers" class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th title="Name">Name</th>
                                    <th title="Position">Pos</th>
                                    <th title="Goals Scored">G</th>
                                    <th title="First Assists">A1</th>
                                    <th title="Second Assists">A2</th>
                                    <th title="Total Points">P</th>
                                    <th title="Individual High-Danger Scoring Chances">iHSC</th>
                                    <th title="Individual Scoring Chances">iSC</th>
                                    <th title="Individual Shot Attempts">iCF</th>
                                    <th title="On-Ice Corsi Differential">C+/-</th>
                                    <th title="On-Ice Fenwick Differential">F+/-</th>
                                    <th title="On0Ice Goal Differential">G+/-</th>
                                    <th title="Corsi For Total">CF</th>
                                    <th title="Fenwick For Total">FF</th>
                                    <th title="Offensive Zone Stats">ZSO</th>
                                    <th title="Defensive Zone Starts">ZSD</th>
                                    <th title="Shots Attempts Blocked By Play">AB</th>
                                    <th title="Faceoffs Won">FO_W</th>
                                    <th title="Faceoffs Lost">FO_L</th>
                                    <th title="Hits">HIT+</th>
                                    <th title="Hits Taken">HIT-</th>
                                    <th title="Penalties">PN+</th>
                                    <th title="Penalties Drawn">PN-</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <h3>Home Players</h3>
                        <table id="homePlayers" class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th title="Name">Name</th>
                                    <th title="Position">Pos</th>
                                    <th title="Goals Scored">G</th>
                                    <th title="First Assists">A1</th>
                                    <th title="Second Assists">A2</th>
                                    <th title="Total Points">P</th>
                                    <th title="Individual High-Danger Scoring Chances">iHSC</th>
                                    <th title="Individual Scoring Chances">iSC</th>
                                    <th title="Individual Shot Attempts">iCF</th>
                                    <th title="On-Ice Corsi Differential">C+/-</th>
                                    <th title="On-Ice Fenwick Differential">F+/-</th>
                                    <th title="On0Ice Goal Differential">G+/-</th>
                                    <th title="Corsi For Total">CF</th>
                                    <th title="Fenwick For Total">FF</th>
                                    <th title="Offensive Zone Stats">ZSO</th>
                                    <th title="Defensive Zone Starts">ZSD</th>
                                    <th title="Shots Attempts Blocked By Play">AB</th>
                                    <th title="Faceoffs Won">FO_W</th>
                                    <th title="Faceoffs Lost">FO_L</th>
                                    <th title="Hits">HIT+</th>
                                    <th title="Hits Taken">HIT-</th>
                                    <th title="Penalties">PN+</th>
                                    <th title="Penalties Drawn">PN-</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="graphView">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
            </div>
        </div>
    </div>
</div>
</div>

    <!--{% endblock %}-->
    <script src="/static/js/jquery-2.2.0.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!--{% block page_js %}-->
    <script src="/static/DataTables/datatables.min.js"></script>
    <script>
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        var url = "http://localhost:8080/api/";
        var homeSkaters = $("#homePlayers"),
            awaySkaters = $("#awayPlayers"),
            goalies = $("#goalies"),
            team = $("#team");
        $(document).ready(function(){
            $.ajax({
                url: url + "pbp/game/?gamePk=" + getUrlParameter("gamePk"),
                success: function(data) {
                    var details = data.details;
                    var imgsrc = "/static/images/team/";
                    $("#home-team-name").text(details.homeTeamName);
                    $("#away-team-name").text(details.awayTeamName);
                    $("#home-score").text(details.homeScore);
                    $("#away-score").text(details.awayScore);
                    $("#home-team-logo").attr("src",
                        imgsrc + details.homeTeamAbbr + ".png");
                    $("#away-team-logo").attr("src",
                        imgsrc + details.awayTeamAbbr + ".png");
                    $("#game-time").text(details.date);
                }
            });

            $('.filter-options img').click(function(e) {
                var icon = $(e.target);
                if (icon.hasClass('filter-collapsed')) {
                    $(e.target).removeClass('filter-collapsed');
                    $(e.target).addClass('filter-expanded');
                } else {
                    $(e.target).removeClass('filter-expanded');
                    $(e.target).addClass('filter-collapsed');
                }
            });
        });
    </script>
    <!--{% endblock %}-->
  </body>
</html>
    