{% extends "wrappers/wrapper.html" %}
{% block content %}
{% load staticfiles %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class='center-block' height="150" width="150" src="{% static "images/team/Whalers.svg" %}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">This page is not the only thing missing...</h3>
            </div>
        </div>         
    </div>
{% endblock %}