<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>First Line Stats</title>
    <!-- Bootstrap core CSS -->
    <link rel='shortcut icon' type='image/x-icon' href="/static/images/favicon.png" />
    <!--{% block page_css %}-->
    <link href="/static/DataTables/datatables.min.css" rel="stylesheet">
    <!--{% endblock %}-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fls.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand" href="#">
              <a href="/"><img class="fls-logo" src="/static/images/logo_text.png"></a>
          </div>
          <ul class="nav navbar-nav pull-left">
              <li><a href="/" style="font-size:25px;">First Line Stats</a></li>
          </ul>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Players <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/players/skaters">Skaters</a></li>
                <li><a href="/players/goalies">Goalies</a></li>
              </ul>
            </li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/about">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--{% block content %}-->
    
    
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 table-container">
                <h2>This Season's Games</h2>
                <table id="recentgames" class="table table-striped table-condensed table-hover rt cf full-table">
                    <thead>
                        <tr>
                            <th>Game Date</th>
                            <th>Session</th>
                            <th>Home</th>
                            <th class="text-center">Score</th>
                            <th>Away</th>
                            <th>Corsi</th>
                            <th>Status</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Division Standings</h2>
            <div class="row">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="text-center">Eastern</h3>
                  </div>
                </div>
            <div class="col-md-6">
              <h4 class="text-center">Atlantic</h4>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#currentA" aria-controls="currentA" role="tab" data-toggle="tab">Current</a></li>
                <li role="presentation"><a href="#historicalA" aria-controls="historicalA" role="tab" data-toggle="tab">Historical</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="currentA">
                  <div class="well bs-component">
                    <table id="atlanticTable" class="table table-striped table-condensed table-hover rt cf full-table">
                      <thead>
                        <tr>
                          <th>Team</th>
                          <th>Points</th>
                          <th>Record</th>
                          <th>Goals</th>
                          <th>Streak</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="historicalA">
                  <div id="Ahistorical"></div>
                  <button type="button" class="btn btn-xs btn-primary center-block" id="AhistoricalButton"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="text-center">Metropolitan</h4>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#currentM" aria-controls="currentM" role="tab" data-toggle="tab">Current</a></li>
                <li role="presentation"><a href="#historicalM" aria-controls="historicalM" role="tab" data-toggle="tab">Historical</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="currentM">
                  <div class="well bs-component">
                    <table id="metroTable" class="table table-striped table-condensed table-hover rt cf full-table">
                      <thead>
                        <tr>
                          <th>Team</th>
                          <th>Points</th>
                          <th>Record</th>
                          <th>Goals</th>
                          <th>Streak</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="historicalM">
                  <div id="Mhistorical"></div>
                  <button type="button" class="btn btn-xs btn-primary center-block" id="MhistoricalButton"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-center">Western</h3>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="text-center">Central</h4>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#currentC" aria-controls="currentC" role="tab" data-toggle="tab">Current</a></li>
                <li role="presentation"><a href="#historicalC" aria-controls="historicalC" role="tab" data-toggle="tab">Historical</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="currentC">
                  <div class="well bs-component">
                    <table id="centralTable" class="table table-striped table-condensed table-hover rt cf full-table">
                      <thead>
                        <tr>
                          <th>Team</th>
                          <th>Points</th>
                          <th>Record</th>
                          <th>Goals</th>
                          <th>Streak</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="historicalC">
                  <div id="Chistorical"></div>
                  <button type="button" class="btn btn-xs btn-primary center-block" id="ChistoricalButton"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="text-center">Pacific</h4>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#currentP" aria-controls="currentP" role="tab" data-toggle="tab">Current</a></li>
                <li role="presentation"><a href="#historicalP" aria-controls="historicalP" role="tab" data-toggle="tab">Historical</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="currentP">
                  <div class="well bs-component">
                    <table id="pacificTable" class="table table-striped table-condensed table-hover rt cf full-table">
                      <thead>
                        <tr>
                          <th>Team</th>
                          <th>Points</th>
                          <th>Record</th>
                          <th>Goals</th>
                          <th>Streak</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="historicalP">
                  <div id="Phistorical"></div>
                  <button type="button" class="btn btn-xs btn-primary center-block" id="PhistoricalButton"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="pngdataurl" style="display:none"></div>
    <div id="canvasArea">
        <canvas style="display:none;" id="canvas" width="1000px" height="700px"></canvas>
    </div>


    <!--{% endblock %}-->
    <script src="/static/js/jquery-2.2.0.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!--{% block page_js %}-->
    <script src="/static/DataTables/datatables.min.js"></script>
    <script src="/static/js/d3.v3.min.js"></script>
    <script src="/static/js/teamColors.js"></script>
    <script src="/static/js/graphs/svgPNG.js"></script>
    <script src="/static/js/graphs/historicalStandings.js"></script>
    <script>
        $(document).ready(function() {
            var url = getUrl();
            savePNG("#PhistoricalButton", "#Phistorical");
            savePNG("#MhistoricalButton", "#Mhistorical");
            savePNG("#AhistoricalButton", "#Ahistorical");
            savePNG("#ChistoricalButton", "#Chistorical");
            $('#recentgames').DataTable({
                "iDisplayLength": 15,
                "ajax": url + "pbp/recent/?format=json",
                "sAjaxDataProp": "",
                "order": [[0, "desc"]],
                "columns": [
                  {"data": "date",
                   "render": function (data, type, full, meta) {
                      return "<a href=\"/game/?gamePk=" + full.gamePk + "\">" + full.date + "</a>";
                   },
                  },
                  {"data": "gameType"},
                  {
                    "data": "homeTeam",
                    "render": function ( data, type, full, meta ) {
                      return '<img height="17" width="17" src="./static/images/team/' + data.abbreviation + '.png"><a href="/team/?team=' + data.abbreviation + '">' + data.name + '</a>';
                    }
                  },
                  {"data": "score"},
                  {
                    "data": "awayTeam",
                    "render": function ( data, type, full, meta ) {
                      return '<img height="17" width="17" src="/static/images/team/' + data.abbreviation + '.png"><a href="/team/?team=' + data.abbreviation + '">' + data.name + '</a>';
                    }
                  },
                  {"data": "corsi"},
                  {"data": "gameState"},
                  {"data": "dateTime"},
                  {"data": "endDateTime"},
                ]
            });

            var divisions = {"Pacific": [], "Central": [], "Metropolitan": [], "Atlantic": []}
            $.ajax({url: url + "team/stats/?format=json",
                success: function(result) {
                    var atlantic = [],
                        pacific = [],
                        metro = [],
                        central = [];
                    for (var i=0; i<result.length; i++) {
                        var row = result[i],
                            division = row.team.division;
                        switch (division) {
                            case "Atlantic":
                                atlantic.push(row);
                                break;
                            case "Pacific":
                                pacific.push(row);
                                break;
                            case "Metropolitan":
                                metro.push(row);
                                break;
                            case "Central":
                                central.push(row);
                                break;
                        }
                    }
                    createRecord(atlantic, "#atlanticTable");
                    createRecord(metro, "#metroTable");
                    createRecord(pacific, "#pacificTable");
                    createRecord(central, "#centralTable");
                },
            });
            $.ajax({url: url + "team/dailystats/?format=json",
                success: function(result) {
                    var data = {"Atlantic": {}, "Pacific": {},
                        "Central": {}, "Metropolitan": {},
                    };
                    for (var team in result) {
                        if (result[team]["division"] == "Atlantic")
                            data["Atlantic"][team] = result[team]["history"];
                        else if (result[team]["division"] == "Pacific")
                            data["Pacific"][team] = result[team]["history"];
                        else if (result[team]["division"] == "Metropolitan")
                            data["Metropolitan"][team] = result[team]["history"];
                        else if (result[team]["division"] == "Central")
                            data["Central"][team] = result[team]["history"];
                    }
                    CreateHistorical("#Ahistorical", data["Atlantic"], "#currentA");
                    CreateHistorical("#Mhistorical", data["Metropolitan"], "#currentM");
                    CreateHistorical("#Chistorical", data["Central"], "#currentC");
                    CreateHistorical("#Phistorical", data["Pacific"], "#currentP");
                }
            })

            function createRecord(data, table_id) {
              $(table_id).DataTable({
                "sAjaxDataProp": "",
                "data": data,
                "sDom": "t",
                "order": [[ 1, "desc" ]],
                "columns": [
                  {"data": "team.shortName",
                   "render": function( data, type, full, meta ) {
                      return '<img height="17" width="17" src="./static/images/team/' + full.team.abbreviation + '.png"><a href="/team/?team=' + full.team.abbreviation + '">' + full.team.shortName + '</a>';
                   }
                  },
                  {"data": "points"},
                  {"data": "record",
                   "render": function( data, type, full, meta ) {
                      var wins = full.wins.toString(),
                          losses = full.losses.toString(),
                          ot = full.ot.toString();
                      wins = checkLength(wins);
                      losses = checkLength(losses);
                      ot = checkLength(ot);
                      return wins + "-" + losses + "-" + ot;
                   }
                  },
                  {"data": "goalsScored",
                   "render": function(data, type, full, meta) {
                    return data + "/" + full.goalsAgainst;
                   }
                  },
                  {"data": "streakCode"}
                ],
                "createdRow": function(row, data, index) {
                  var row_color = "info",
                      v = data.streakCode;
                  if (v.indexOf("L") != -1)
                      row_color = "danger";
                  else if (v.indexOf("W") != -1)
                      row_color = "success";
                  else if (v.indexOf("O") != -1)
                      row_color = "warning";
                  $('td', row).eq(4).addClass(row_color);
                }
              })
            }

            function checkLength(number) {
              if (number.length == 1)
                return "0" + number;
              return number;
            }

            function loadTable(data, table_id) {
                var tbl_body = "";
                $.each(data, function() {
                    var tbl_row = "";
                    $.each(this, function(k , v) {
                        if (k == 7) {
                            var row_color = "blue";
                            if (v.indexOf("L") != -1)
                                row_color = "red";
                            else if (v.indexOf("W") != -1)
                                row_color = "green";
                            else if (v.indexOf("O") != -1)
                                row_color = "red";
                            tbl_row += "<td style=color:" + row_color + ">" + v + "</td>";
                        } else {
                            tbl_row += "<td>" + v + "</td>";
                        }
                    })
                    tbl_body += "<tr>"+tbl_row+"</tr>";
                })
                $(table_id + " tbody").html(tbl_body);
            }
        });
    </script>
    <script src="/static/js/getUrl.js"></script>
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script>
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74873821-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!--{% endblock %}-->
  </body>
</html>
    
