/* 
	Main CSS file for FLS.com
*/
.fls-logo {
	  height: 79px;
	  margin-top: -20px;
}
.ms-container {
    margin: auto;
    width: 100%;
}

.ms-container .ms-list {
    height: 100px;
}

div.dataTables_wrapper div.dataTables_paginate {
    float: right;
    width:75%;
}

h3.filter-options {
    margin-top: 0px;
    cursor: pointer;
}
h3.away-team {
    margin-bottom: 0px;
}
h3.home-team {
    margin-top: 0px;
}
.session-checkbox li {
    display: inline;
    text-decoration: none;
    width: 50%;
    float: left;
}
.session-checkbox li label {
    font-weight: normal;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.innerline {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.opacityfifty {
    opacity: 0.5;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #00691C;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #18217b;
}

.filter-collapsed {
  transform:rotate(0deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -webkit-transform:rotate(0deg); /* Safari and Chrome */
}
.filter-expanded {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  background-color: #192277;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  background-color: #007B21;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
