/* 
	Main CSS file for FLS.com
*/
.fls-logo {
	  height: 79px;
	  margin-top: -20px;
}
.ms-container {
    margin: auto;
    width: 100%;
}

.ms-container .ms-list {
    height: 100px;
}

div.dataTables_wrapper div.dataTables_paginate {
    float: right;
    width:75%;
}

h3.filter-options {
    margin-top: 0px;
    cursor: pointer;
}

h3.away-team {
    margin-bottom: 0px;
}
h3.home-team {
    margin-top: 0px;
}
.session-checkbox li {
    display: inline;
    text-decoration: none;
    width: 50%;
    float: left;
}
.session-checkbox li label {
    font-weight: normal;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.innerline {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.opacityfifty {
    opacity: 0.5;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #00691C;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #18217b;
}

.filter-collapsed {
  transform:rotate(0deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -webkit-transform:rotate(0deg); /* Safari and Chrome */
}
.filter-expanded {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  background-color: #192277;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  background-color: #007B21;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}


.ANA {
  background-image: url("/static/images/team/ANA.png");
}

.ARI {
  background-image: url("/static/images/team/ARI.png");
}

.ATL {
  background-image: url("/static/images/team/ATL.png");
}

.BOS {
  background-image: url("/static/images/team/BOS.png");
}

.BUF {
  background-image: url("/static/images/team/BUF.png");
}

.CAR {
  background-image: url("/static/images/team/CAR.png");
}

.CBJ {
  background-image: url("/static/images/team/CBJ.png");
}

.CGY {
  background-image: url("/static/images/team/CGY.png");
}

.CHI {
  background-image: url("/static/images/team/CHI.png");
}

.COL {
  background-image: url("/static/images/team/COL.png");
}

.DAL {
  background-image: url("/static/images/team/DAL.png");
}

.DET {
  background-image: url("/static/images/team/DET.png");
}

.EDM {
  background-image: url("/static/images/team/EDM.png");
}

.FLA {
  background-image: url("/static/images/team/FLA.png");
}

.LAK {
  background-image: url("/static/images/team/LAK.png");
}

.MIN {
  background-image: url("/static/images/team/MIN.png");
}

.MTL {
  background-image: url("/static/images/team/MTL.png");
}

.NHL {
  background-image: url("/static/images/team/NHL.png");
}

.NJD {
  background-image: url("/static/images/team/NJD.png");
}

.NSH {
  background-image: url("/static/images/team/NSH.png");
}

.NYI {
  background-image: url("/static/images/team/NYI.png");
}

.NYR {
  background-image: url("/static/images/team/NYR.png");
}

.OTT {
  background-image: url("/static/images/team/OTT.png");
}

.PHI {
  background-image: url("/static/images/team/PHI.png");
}

.PHX {
  background-image: url("/static/images/team/PHX.png");
}

.PIT {
  background-image: url("/static/images/team/PIT.png");
}

.SJS {
  background-image: url("/static/images/team/SJS.png");
}

.STL {
  background-image: url("/static/images/team/STL.png");
}

.TBL {
  background-image: url("/static/images/team/TBL.png");
}

.TOR {
  background-image: url("/static/images/team/TOR.png");
}

.VAN {
  background-image: url("/static/images/team/VAN.png");
}

.WPG {
  background-image: url("/static/images/team/WPG.png");
}

.WSH {
  background-image: url("/static/images/team/WSH.png");
}

.calTeam {
  background-size: 67% 80%;
  background-repeat: no-repeat;
  opacity: 0.75;
  background-position: center;
  outline-style: solid !important;
  outline-width: 5px !important;
  outline-offset: -5px;
}

.fc-title {
  font-size: 40px;
  text-shadow:  1px  1px #000,
               -1px  1px #000,
                1px -1px #000,
               -1px -1px #000;
}

.fc-event {
  border: none;
}

.home {
  outline-color: aqua !important;
}

.away {
  outline-color: yellow !important;
}

.loss {
  background-color: rgba(255, 50, 55, 0.5);
}

.win {
  background-color: rgba(75, 22, 123);
}

.tie {
  background-color: #706E75;
}

.time {
  font-size: 20px;
  text-shadow:  1px  1px #000,
               -1px  1px #000,
                1px -1px #000,
               -1px -1px #000;
}

table a:not(.btn),
.table a:not(.btn) {
  text-decoration: none;
}

/*
 *
 * Mobile Table Changes
 *
 */
.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }

.rt { width: 100%; border-collapse: collapse; border-spacing: 0; }
.dataTables_filter { padding-bottom: 10px; }
.dataTables_length { padding-bottom: 10px; }
.rt th,
.rt td { margin: 0; padding: 0.4166em;/*10*/ vertical-align: top; }
.rt th { text-align: left; }
.left-rounded { border-radius: 5px 0px 0px 0px;}
.right-rounded { border-radius: 0px 5px 0px 0px;}
.scroll { overflow-x: scroll; }
.team { min-width:100px; }

.full-table {
  width: 100% !important;
}

@media only screen and (max-width: 40em) { /*640*/

    .rt { display: block; position: relative; width: 100%; }
    .rt thead { display: block; float: left; }
    .rt tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    .rt thead tr { display: block; }
    .rt th { display: block; }
    .rt tbody tr { display: inline-block; vertical-align: top; }
    .rt td { display: block; min-height: 1.25em; height:21px; }
    .team { min-width: 0px; }

    /* sort out borders */

    .rt th { border-bottom: 0; }
    .rt td { border-left: 0; border-right: 0; border-bottom: 0; text-align: center; }
    .rt tbody tr { border-right: 1px solid #babcbf; }
    .rt th:last-child,
    .rt td:last-child { border-bottom: 1px solid #babcbf; }
    .right-rounded { border-radius: 0px 0px 0px 5px;}
    .full-fixed { position: default; }

}
