<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>First Line Stats</title>
        <!-- Bootstrap core CSS -->
        <link rel='shortcut icon' type='image/x-icon' href="/static/images/favicon.png" />
        <!--{% block page_css %}-->
        <link href="/static/DataTables/datatables.min.css" rel="stylesheet">
        <link href="/static/MultiSelect/css/multi-select.css" rel="stylesheet">
        <!--{% endblock %}-->
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/fls.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand" href="#">
                        <a href="/"><img class="fls-logo" src="/static/images/logo_text.png"></a>
                    </div>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Players <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/players/skaters">Skaters</a></li>
                                <li><a href="/players/goalies">Goalies</a></li>
                            </ul>
                        </li>
                        <li><a href="/teams">Teams</a></li>
                        <li><a href="/games">Games</a></li>
                        <li><a href="/about">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div class="row" style="padding: 5px;">
                            <div class="col-md-2">
                                <img id="teamIcon" class="img-responsive">
                            </div>
                            <div class="col-md-10">
                                <h2 id="nameNumber"></h2>
                                <p><a id="nhlLink" target="_blank" href="https://www.nhl.com/player/{{ player.firstName }}-{{ player.lastName }}-{{ player.id }}">Link to Player page on NHL.com</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th>Age</th>
                                        <td id="age"></td>
                                    </tr>
                                    <tr>
                                        <th>Birthplace</th>
                                        <td id="birthPlace"></td>
                                    </tr>
                                    <tr>
                                        <th>Handedness</th>
                                        <td id="handedness"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th>Position</th>
                                        <td id="position"></td>
                                    </tr>
                                    <tr>
                                        <th>Height</th>
                                        <td id="height"></td>
                                    </tr>
                                    <tr>
                                        <th>Weight</th>
                                        <td id="weight"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="playerStatsContent" class="col-md-12 table-responsive">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tableView" data-toggle="tab" aria-expanded="true">Table View</a></li>
                        <li class=""><a href="#graphView" data-toggle="tab" aria-expanded="false">Graph View</a></li>
                    </ul>
                    <div id="playerTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="tableView">
                            <div class="row">
                                <div id="playerTableContainer" class="col-md-12">
                                    <table id="playerTable" class="table table-striped table-hover" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Player</th>
                                                <th>Pos</th>
                                                <th>Team</th>
                                                <th>Age</th>
                                                <th>Height</th>
                                                <th>Weight</th>
                                                <th>Gm</th>
                                                <th>G</th>
                                                <th>A</th>
                                                <th>A2</th>
                                                <th>P</th>
                                                <th>G60</th>
                                                <th>A60</th>
                                                <th>P60</th>
                                                <th>+/-</th>
                                                <th>Hits</th>
                                                <th>Shots</th>
                                                <th>FOW</th>
                                                <th>FO%</th>
                                                <th>TOI/Game</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                        </div>
                        <div class="tab-pane fade" id="graphView">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--{% endblock %}-->
        <script src="/static/js/jquery-2.2.0.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <!--{% block page_js %}-->
        <script src="/static/DataTables/datatables.min.js"></script>
        <script src="/static/MultiSelect/js/jquery.multi-select.js"></script>
        <script src="/static/d3/d3.min.js"></script>
        <script src="/static/js/graphs/shotChart.js"></script>
        <script>
            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;
                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');
                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };
            var gamesDT;
            var url = "http://localhost:8080/api/";

            $(document).ready(function(){
                getAjax();
            });

            function getAjax() {
                $('#tableLoading').toggle();
                $('#skatersTableContainer').toggle();

                $.ajax({
                    url: url + "pbp/playerstats/?format=json&player=" + getUrlParameter("player"),
                    success: function(data) {
                        $("#nameNumber").html(data[0].name)
                        $("#age").html(data[0].age);
                        $("#position").html(data[0].position)
                        $("#height").html(data[0].height)
                        $("#weight").html(data[0].weight + ' lb')
                        $("#teamIcon").attr('src', '/static/images/team/' + data[0].currentTeamAbbr + '.png')
                        data[0].season = '2015 - 2016';
                        
                        playerDT = $('#playerTable').DataTable({
                            iDisplayLength: 15,
                            order: [[ 9, "desc" ]],
                            responsive: true,
                            paging: false,
                            info: false,
                            bFilter: false,
                            fixedHeader: {
                                header: true,
                            },
                            buttons: [
                                {
                                    extend: 'copy',
                                    className: 'btn-sm btn-primary',
                                },
                                {
                                    extend: 'csv',
                                    className: 'btn-sm btn-primary',
                                },
                                {
                                    extend: 'excel',
                                    className: 'btn-sm btn-primary',
                                },
                                {
                                    extend: 'pdf',
                                    className: 'btn-sm btn-primary',
                                }
                            ],
                            data: data,
                            columns: [
                                {"data": "name",
                                 "render": function(data, type, full, meta) {
                                     return "<a href=\"/player/?player=" + full.player_id + "\">" + data + "</a>";
                                 }
                                }, // Player
                                {"data": "position"}, // Pos
                                {"data": "currentTeam",
                                 "render": function ( data, type, full, meta ) {
                                    return '<img height="17" width="17" src="/static/images/team/' + full.currentTeamAbbr + '.png"><a href="/teams">' + full.team + '</a>';}
                                }, // Team
                                {"data": "age"}, // Age
                                {"data": "player__height"}, // Height
                                {"data": "player__weight"}, // Weight
                                {"data": "games"}, // Gm
                                {"data": "goals"}, // G
                                {"data": "assists"}, // A
                                {"data": "assists2"}, // A
                                {"data": "points",
                                 "render": function( data, type, full, meta ) {
                                    return full.goals + full.assists + full.assists2;
                                 }
                                }, // P
                                {"data": "G60",
                                 "render": function( data, type, full, meta ) {
                                    return ((full.goals) / full.toi * full.games * 60).toFixed(2);
                                 }
                                }, // G60
                                {"data": "A60",
                                 "render": function( data, type, full, meta ) {
                                    return ((full.assists + full.assists2) / full.toi * full.games * 60).toFixed(2);
                                 }
                                }, // A60
                                {"data": "P60",
                                 "render": function( data, type, full, meta ) {
                                    return ((full.goals + full.assists + full.assists2) / full.toi * full.games * 60).toFixed(2);
                                 }
                                }, // P60
                                {"data": "plusMinus",
                                 "render": function( data, type, full, meta ) {
                                    return full.gf - full.ga;
                                 }
                                }, // +/-
                                {"data": "hit"}, // Hits
                                {"data": "sf"}, // Shots
                                {"data": "fo_w"}, // FOW
                                {"data": "facPercent",
                                 "render": function(data, type, full, meta) {
                                    if (full["fo_l"] != 0)
                                        return (full["fo_w"] / (full["fo_w"] + full["fo_l"]) * 100).toFixed(2);
                                    else
                                        return 0;
                                 }
                                }, // FO%
                                {"data": "TOIGm",
                                 "render": function(data, type, full, meta) {
                                    var time = full["toi"] / full["games"];
                                    var minutes = Math.floor(time / 60); // 7
                                    var seconds = time % 60; // 30
                                    return minutes + ":" + Math.round(seconds);
                                 }
                                }, // TOI/Game
                            ]
                        });                                         
                    }
                });

                
            }
        
        </script>
        <!--{% endblock %}-->
    </body>
</html>